In [ ]:
import pandas as pd
import numpy as np
from numpy.linalg import norm
import collections
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
s1 = 'sunshine state enjoy sunshine'
s2 = 'brown fox jump high brown fox run'
s3 = 'sunshine state fox run fast'

In [ ]:
bowS1 = s1.split(" ")
bowS2 = s2.split(" ")
bowS3 = s3.split(" ")

In [ ]:
unique = set(bowS1).union(set(bowS2)).union(set(bowS3))

In [ ]:
Wdict1 = dict.fromkeys(unique, 0) 
Wdict2 = dict.fromkeys(unique, 0) 
Wdict3 = dict.fromkeys(unique, 0)

In [ ]:
for unique in bowS1:
    Wdict1[unique]+=1

for unique in bowS2:
    Wdict2[unique]+=1

for unique in bowS3:
    Wdict3[unique]+=1

In [ ]:
def computeTF(Wdict, bow):
    TFdict = {}
    bowCount = len(bow)
    for unique, count in Wdict.items():
        TFdict[unique] = count/float(bowCount)
    return TFdict

In [ ]:
def computeIDF(Slist):
    import math
    IDFdict = {}
    N = len(Slist)
    
    IDFdict = dict.fromkeys(Slist[0].keys(), 0)
    for S in Slist:
        for unique, val in S.items():
            if val > 0:
                IDFdict[unique] += 1
    
    for unique, val in IDFdict.items():
        IDFdict[unique] = math.log10(N / float(val))
        
    return IDFdict

In [ ]:
tf_S1 = computeTF(Wdict1, bowS1)
tf_S2 = computeTF(Wdict2, bowS2)
tf_S3 = computeTF(Wdict3, bowS3)

{'sunshine': 0.5, 'run': 0.0, 'fast': 0.0, 'jump': 0.0, 'enjoy': 0.25, 'fox': 0.0, 'brown': 0.0, 'high': 0.0, 'state': 0.25}
{'sunshine': 0.0, 'run': 0.14285714285714285, 'fast': 0.0, 'jump': 0.14285714285714285, 'enjoy': 0.0, 'fox': 0.2857142857142857, 'brown': 0.2857142857142857, 'high': 0.14285714285714285, 'state': 0.0}
{'sunshine': 0.2, 'run': 0.2, 'fast': 0.2, 'jump': 0.0, 'enjoy': 0.0, 'fox': 0.2, 'brown': 0.0, 'high': 0.0, 'state': 0.2}

In [ ]:
Idf = computeIDF([Wdict1, Wdict2 , Wdict3])

{'sunshine': 0.17609125905568124, 'run': 0.17609125905568124, 'fast': 0.47712125471966244, 'jump': 0.47712125471966244, 'enjoy': 0.47712125471966244, 'fox': 0.17609125905568124, 'brown': 0.47712125471966244, 'high': 0.47712125471966244, 'state': 0.17609125905568124}

In [ ]:
def computeTFIDF(tf_S, Idf):
    TF_IDF = {}
    for unique, val in tf_S.items():
        TF_IDF[unique] = val*Idf[unique]
    return TF_IDF

In [ ]:
TF_IDF_S1 = computeTFIDF(tf_S1, Idf)
TF_IDF_S2 = computeTFIDF(tf_S2, Idf)
TF_IDF_S3 = computeTFIDF(tf_S3, Idf)

In [ ]:
pd.DataFrame([tf_S1, tf_S2, tf_S3])

,sunshine,run,fast,jump,enjoy,fox,brown,high,state
0,0.5,0.000000,0.0,0.000000,0.25,0.000000,0.000000,0.000000,0.25
1,0.0,0.142857,0.0,0.142857,0.00,0.285714,0.285714,0.142857,0.00
2,0.2,0.200000,0.2,0.000000,0.00,0.200000,0.000000,0.000000,0.20

In [ ]:
pd.DataFrame([Idf])

,sunshine,run,fast,jump,enjoy,fox,brown,high,state
0,0.176091,0.176091,0.477121,0.477121,0.477121,0.176091,0.477121,0.477121,0.176091

In [ ]:
pd.DataFrame([TF_IDF_S1, TF_IDF_S2, TF_IDF_S3])

,sunshine,run,fast,jump,enjoy,fox,brown,high,state
0,0.088046,0.000000,0.000000,0.00000,0.11928,0.000000,0.00000,0.00000,0.044023
1,0.000000,0.025156,0.000000,0.06816,0.00000,0.050312,0.13632,0.06816,0.000000
2,0.035218,0.035218,0.095424,0.00000,0.00000,0.035218,0.00000,0.00000,0.035218

In [ ]:
C_S1 = np.array([2, 0, 0, 0, 1, 0, 0, 0, 1])
C_S3 = np.array([1, 1, 1, 0, 0, 1, 0, 0, 1])

In [ ]:
cosine = np.dot(C_S1,C_S3)/(norm(C_S1)*norm(C_S3))
print("Cosine Similarity = ", cosine)

Cosine Similarity =  0.5477225575051661